---
import ForkIcon from '@/components/icons/ForkIcon.astro';
import StarIcon from '@/components/icons/StarIcon.astro';
import WatcherIcon from '@/components/icons/WatcherIcon.astro';
import ProjectGithubDetailSkeleton from '@/components/skeletons/ProjectGithubDetailSkeleton.astro';
import InfoContainer from '@/components/ui/InfoContainer.astro';
---

<InfoContainer>
  <section class="flex flex-col sm:flex-row sm:items-center gap-4">
    <div class="w-full max-w-[350px]">
      <h3 class="w-full text-3xl font-medium sm:max-w-[150px]">Detalles Adicionales</h3>
    </div>
    <div class="flex gap-y-2 gap-x-6 justify-between flex-wrap sm:flex-nowrap w-full max-w-[700px]">
      <ProjectGithubDetailSkeleton title='LICENCIA' className='min-w-[120px]' />
      <ProjectGithubDetailSkeleton title='STARS'>
        <StarIcon className="min-w-6 h-6 fill-text-primary"/>
      </ProjectGithubDetailSkeleton>
      <ProjectGithubDetailSkeleton title='WATCHERS'>
        <WatcherIcon className="min-w-6 h-6 fill-text-primary"/>
      </ProjectGithubDetailSkeleton>
      <ProjectGithubDetailSkeleton title='FORKS'>
        <ForkIcon className="min-w-6 h-6 fill-text-primary"/>
      </ProjectGithubDetailSkeleton>
    </div>
  </section>
</InfoContainer>