---
import ProjectList from "@/components/projects/ProjectList.astro";
import InfoContainer from "@/components/ui/InfoContainer.astro";
---

<InfoContainer>
  <h2 class="text-4xl sm:text-5xl font-medium">Proyectos</h2>
  <ProjectList />
</InfoContainer>
