---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
import TypeAndDelete from '../components/TypeAndDelete.astro';
import mySkills from '../../public/mySkills.json';
import SkillBadge from '../components/SkillBadge.astro';
import MediaButton from '../components/MediaButton.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import LinkedInIcon from '../icons/LinkedInIcon.astro';
import DownloadIcon from '../icons/DownloadIcon.astro';
// import ProjectList from '../components/ProjectList.astro';
import ProjectList from '../islands/ProjectList.svelte';
import GithubCalendar from '../components/GithubCalendar.astro';
import SkillBox from '../components/SkillBox.astro';

const github_token = import.meta.env.GITHUB_TOKEN
---

<Layout title="Rafael Carvacho | Portfolio">
	<main class="w-full flex flex-col items-center">
		<section id="home" class="pb-14 w-full max-w-nav px-4 sm:px-6 md:px-8 lg:px-[6.75rem]">
			<Logo />

			<div class="flex flex-col gap-4 mt-24">
				<h1 class="text-5xl sm:text-6xl">Rafael Carvacho</h1>
				<TypeAndDelete />
			</div>

			<SkillBox title="Mis Habilidades" />

			<div class="flex flex-wrap gap-4 mt-14">
				<MediaButton href="https://github.com/Unnunoctio" ariaLabel="My Github" style="group flex gap-2">
					<GithubIcon style="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-hover-text" />
					Github
				</MediaButton>
				<MediaButton href="https://www.linkedin.com/in/rafael-carvacho-389515265" ariaLabel="My LinkedIn" style="group flex gap-2">
					<LinkedInIcon style="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-hover-text" />
					LinkedIn
				</MediaButton>
				<MediaButton href="/rafael_carvacho_cv.pdf" ariaLabel="My Curriculum pdf" style="group flex gap-2">
					<DownloadIcon style="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-hover-text" />
					Descargar CV
				</MediaButton>
			</div>
		</section>
		<section id="projects" class="w-full flex flex-col items-center bg-bg-secondary min-h-[80vh]">
			<div class="my-24 w-full max-w-nav px-4 sm:px-6 md:px-8 lg:px-[6.75rem]">
				<h2 class="text-5xl">Mis Proyectos</h2>
				<div class="flex flex-col justify-between min-h-[100vh]">
					<ProjectList token={github_token} client:idle />
					<GithubCalendar />
				</div>
			</div>
		</section>
	</main>
</Layout>
