---
import { db, eq, About } from 'astro:db';
import type { About as AboutType } from '../types';
import Modal from './Modal.astro';

const abouts: AboutType[] = await db.select().from(About).where(eq(About.about_id, 1))
const about = abouts[0]
---

<Modal buttonTitle='Sobre mí' modalTitle='Sobre mí'>
  <section class="flex items-center mt-8 min-h-[50vh]">
    <div class="flex flex-col lg:flex-row justify-between gap-8">
      <div class="flex justify-center items-center">
        <img src={about?.avatar} alt="my profile" width={500} height={500} loading="lazy" class="w-72 md:w-80 aspect-square object-cover rounded-full" />
      </div>
      <div class="flex flex-col gap-8 lg:max-w-[60%]">
        <div>
          <h2 class="text-2xl sm:text-3xl font-medium">{about?.title}</h2>
          <h3 class="text-xl sm:text-2xl italic text-text-active">{about?.sub_title}</h3>
        </div>
        <p class="text-lg sm:text-xl text-text-secondary">{about?.biography}</p>
      </div>
    </div>
  </section>
</Modal>