---
import { db, Contact } from 'astro:db';
import type { Contact as ContactType } from '../types';
import Modal from './Modal.astro';
import { contactStore, updatedContacts } from '../store/contact';
import { minutesDifference } from '../utils/time';

if (contactStore.get().contacts.length === 0 || minutesDifference(contactStore.get().last_update, new Date(), 10)) {
  const contactsDB: ContactType[] = await db.select().from(Contact)
  updatedContacts(contactsDB)
}

const contacts = contactStore.get().contacts
---

<Modal buttonTitle='Contacto' modalTitle='Contáctame'>
  <section class="flex flex-col mt-8 py-8 min-h-[50vh]">
    <h3 class="text-xl md:text-2xl font-medium">Hablemos :</h3>
    <ul class="flex flex-col gap-4 mt-4 pl-2 md:pl-4 text-md sm:text-lg md:text-xl">
      {contacts.map(contact => (
        <li class="flex flex-wrap gap-x-2">
          <span>{contact.web_contact} {'>'}</span>
          <a class="text-text-active hover:underline" href={contact.link} target="_blank" rel="noreferrer">{contact.styled_link}</a>
        </li>
      ))}
    </ul>
  </section>
</Modal>