---
import { Image } from "astro:assets";
---

<div class="flex justify-center items-center w-full h-[52px]">
  <Image src="/logo.svg" alt="LOGO" width={184} height={46} loading="eager" class="hidden sm:block" />
  <Image src="/logo-icon.svg" alt="LOGO" width={74} height={46} loading="eager" class="block sm:hidden" />
</div>