---
import { Image } from "astro:assets";
---

<div class="flex justify-center">
  <div class="flex items-center gap-2 h-13">
    <Image src="/logo.svg" alt="LOGO" width={72} height={45} />
    <div class="hidden sm:flex flex-col justify-center">
      <span class="text-2xl font-medium leading-none">Rafael</span>
      <span class="text-2xl font-medium leading-none">Carvacho</span>
    </div>
  </div>
</div>