---
const { href, ariaLabel, style } = Astro.props
---

<a
  href={href}
  aria-label={ariaLabel}
  target="_blank"
  rel="noreferrer"
  class={style + " pointer px-4 py-2.5 text-lg font-medium text-text-secondary bg-bg-btn rounded-2xl shadow-btn transition-colors hover:text-hover-text hover:bg-hover-btn"}
>
  <slot />
</a>