---
import DownloadIcon from "../icons/DownloadIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
---

<div class="flex flex-wrap gap-4 mt-14">
  <a href="https://github.com/Unnunoctio" aria-label="my-github" target="_blank" rel="noreferrer" class="group flex gap-2 pointer px-4 py-2.5 text-lg font-medium text-text-secondary bg-bg-btn rounded-2xl shadow-btn transition-colors hover:text-hover-text hover:bg-hover-btn">
    <GithubIcon style="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-hover-text" />
    Github
  </a>
  <a href="https://www.linkedin.com/in/rafael-carvacho-389515265" aria-label="my-linkedin" target="_blank" rel="noreferrer" class="group flex gap-2 pointer px-4 py-2.5 text-lg font-medium text-text-secondary bg-bg-btn rounded-2xl shadow-btn transition-colors hover:text-hover-text hover:bg-hover-btn">
    <LinkedInIcon style="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-hover-text" />
    LinkedIn
  </a>
  <a href="/rafael-carvacho-cv.pdf" aria-label="my-curriculum" target="_blank" rel="noreferrer" class="group flex gap-2 pointer px-4 py-2.5 text-lg font-medium text-text-secondary bg-bg-btn rounded-2xl shadow-btn transition-colors hover:text-hover-text hover:bg-hover-btn">
    <DownloadIcon style="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-hover-text" />
    Descargar CV
  </a>
</div>