---
import XIcon from '../icons/XIcon.astro';

interface Props {
  buttonTitle: string;
  modalTitle: string;
}

const { buttonTitle, modalTitle } = Astro.props;
---

<div x-data="{ open: false }">
  <button @click="open = true" class="px-3 py-1 w-full rounded-md text-lg text-start text-text-secondary cursor-pointer transition-colors hover:text-hover-text hover:bg-hover-component">
    {buttonTitle}
  </button>

  <div x-show="open" style="display: none;" class="fixed inset-0 overflow-auto z-10 py-4 sm:py-6 md:py-8 lg:py-10 bg-bg-component bg-opacity-75" x-transition>
    <div class="flex justify-center pt-15 px-2 sm:px-6 md:px-8 lg:px-10">
      <div @click.away="open = false" class="relative overflow-hidden z-30 p-4 sm:p-8 md:p-12 w-full max-w-6xl bg-bg-modal rounded-lg shadow-xl" x-show="open" x-transition>
        <button @click="open = false" class="group absolute top-3 sm:top-4 right-3 sm:right-4 flex justify-center p-1.5 bg-bg-btn rounded-md transition-colors hover:bg-hover-btn">
          <XIcon style="h-6 w-6 fill-text-secondary transition-colors group-hover:fill-hover-text" />
        </button>
        <h2 class="text-4xl font-medium text-center md:text-start">{modalTitle}</h2>
        <slot />
      </div>
    </div>
  </div>
</div>