---
import UserMenu from "./UserMenu.astro";
import HomeIcon from "../icons/HomeIcon.astro";
const { path } = Astro.params;
---

{path !== undefined && 
  <div class="absolute left-4 sm:left-6 md:left-8 lg:left-10 z-50">
    <a href="/" aria-label="home-page" class="fixed group flex justify-center p-3 bg-bg-btn rounded-2xl shadow-btn transition-colors hover:bg-hover-btn">
      <HomeIcon style="h-7 w-7 fill-text-secondary transition-colors group-hover:fill-hover-text" />
    </a>
  </div>
}

<div class="absolute right-17 sm:right-19 md:right-21 lg:right-23 z-50">
  <UserMenu />
</div>