---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="mt-16 flex flex-col sm:flex-row sm:items-center gap-4">
  <div class="w-full max-w-[350px]">
    <h3 class="w-full text-3xl font-medium sm:max-w-[150px]">{title}</h3>
  </div>
  <slot />
</section>