---
import { db, Project } from 'astro:db';
import ProjectCard from './ProjectCard.astro';

const projects = await db.select().from(Project)
projects.sort((a, b) => a.order - b.order)
---

<ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 mt-16">
  {projects.map(project => (
    <li class="flex justify-center">
      <ProjectCard {...project} />
    </li>
  ))}
</ul>