---
import { db, Project } from 'astro:db';
import type { Project as ProjectType } from '../types';
import ProjectCard from './ProjectCard.astro';
import { projectStore, updatedProjects } from '../store/project';
import { minutesDifference } from '../utils/time';

if (projectStore.get().projects.length === 0 || minutesDifference(projectStore.get().last_update, new Date(), 10)) {
  const projectDB: ProjectType[] = await db.select().from(Project)
  updatedProjects(projectDB)
}

const projects = projectStore.get().projects
projects.sort((a, b) => a.order - b.order)
---

<ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 mt-16">
  {projects.map(project => (
    <li class="flex justify-center">
      <ProjectCard {...project} />
    </li>
  ))}
</ul>