---
import { db, Resume } from 'astro:db';
import type { Resume as ResumeType } from '../types';
import Modal from './Modal.astro';
import ResumeList from './ResumeList.astro';

const resumes: ResumeType[] = await db.select().from(Resume)

resumes.sort((a, b) => {
  if (a.end_date === null && b.end_date === null) return b.start_date.getTime() - a.start_date.getTime()
  if (a.end_date === null) return -1
  if (b.end_date === null) return 1

  if (a.end_date.getFullYear() === b.end_date.getFullYear()) return b.start_date.getTime() - a.start_date.getTime()
  return b.end_date.getTime() - a.end_date.getTime()
})
---

<Modal buttonTitle='Resumen' modalTitle='Trabajo & Educación'>
  <section class="flex items-center mt-8 min-h-[50vh]">
    <div class="flex justify-between gap-8">
      <ResumeList
        items={resumes.filter(item => item.code === "work")}
        style="hidden md:block md:max-w-[47%]"
      />
      <ResumeList
        items={resumes.filter(item => item.code === "education")}
        style="hidden md:block md:max-w-[47%]"
      />
      <ResumeList
        items={resumes}
        style="block md:hidden"
      />
    </div>
  </section>
</Modal>