---
import type { Skill } from "../types";

interface Props extends Skill {}

const { lang, color } = Astro.props;
---
<li>
  <span
    class="inline-flex items-center px-2 py-1 text-xs rounded-full ring-1 ring-inset"
    style={{
      "background-color": `${color}33`,
      "--tw-ring-color": color
    }}
  >
    {lang}
  </span>
</li>