---
import SkillListSkeleton from '../skeletons/SkillListSkeleton.astro';
import SkillList from './SkillList.astro';

interface Props {
  title: string;
  skeleton_items?: number;
  project_id?: number;
}

const { title, skeleton_items = 5, project_id } = Astro.props;
---

<div class="mt-16 p-4 w-full max-w-skill-box bg-bg-skills rounded-2xl shadow-skills"> 
  <h2 class="text-2xl">{title}</h2>
  <SkillList server:defer project_id={project_id}>
    <SkillListSkeleton slot="fallback" skeleton_items={skeleton_items} />
  </SkillList>
</div>

