---
import skills from '../../public/allSkills.json';
import SkillBadge from './SkillBadge.astro';

const { title, codes = null } = Astro.props
---

<div class="mt-16 p-4 w-full max-w-[480px] bg-bg-skills rounded-2xl shadow-skills">
  <h2 class="text-2xl">{title}</h2>
  <ul class="flex flex-wrap gap-3 mt-4">
    {codes === null && 
      skills.map(skill => (
        <li><SkillBadge {...skill} /></li>
      ))
    }
    {codes !== null && codes.length > 0 &&
      skills.filter(skill => codes.includes(skill.code)).map(skill => (
        <li><SkillBadge {...skill} /></li>
      ))
    }
    {codes !== null && codes.length === 0 &&
      <li>
        <span class="inline-flex items-center px-2 py-1 text-xs rounded-full ring-1 ring-inset bg-skills-purple/20 ring-skills-purple">
          Sin Habilidades
        </span>
      </li>
    }
  </ul>
</div>