---
const { style } = Astro.props
---

<span id="typewriter" class="text-2xl sm:text-3xl italic text-text-active">
</span>

<script>
  import Typewriter from 'typewriter-effect/dist/core';

  var typing = document.getElementById('typewriter')
  var typewriter = new Typewriter(typing, {
    loop: true,
    delay: 50
  })

  typewriter
    .typeString('Software Developer.')
    .pauseFor(2000)
    .deleteAll()
  
    .typeString('Web Developer.')
    .pauseFor(2000)
    .deleteAll()

    .typeString('Gamer.')
    .pauseFor(2000)
    .start()
</script>