---
import UserIcon from "../icons/UserIcon.astro";
import AboutModal from "./AboutModal.astro";
import ResumeModal from "./ResumeModal.astro";
import ContactModal from "./ContactModal.astro";
---

<div x-data=`{ open: false }` class="fixed">
  <button
    @click="open = !open"
    aria-label="menu"
    :class="open ? '!bg-hover-btn' : 'bg-bg-btn'"
    class="group flex justify-center p-3 bg-bg-btn rounded-2xl shadow-btn transition-colors hover:bg-hover-btn"
  >
    <UserIcon active="open ? '!fill-hover-text' : 'fill-text-secondary'" style="h-7 w-7 fill-text-secondary transition-colors group-hover:fill-hover-text" />
  </button>
  
  <section x-show="open" @click.away="open = false" x-transition style="display: none;" class="absolute end-0 lg:end-15 top-15 lg:top-0 w-60 origin-top-right bg-bg-component rounded-md shadow-btn focus:outline-none">
    <div class="divide-y divide-divider-component">
      <h3 class="text-lg text-text-primary font-medium px-5 py-4 select-none">Rafael Carvacho <span class="text-text-active">#WEB</span></h3>
      <ul class="flex flex-col gap-3 p-5">
        <li><AboutModal server:defer /></li>
        <li><ResumeModal server:defer /></li>
        <li><ContactModal server:defer /></li>
      </ul>
    </div>
  </section>
</div>