---
import HomeIcon from "@/components/icons/HomeIcon.astro";
import InfoContainer from "@/components/ui/InfoContainer.astro";
import { Image } from "astro:assets";

interface Props {
  isHome?: boolean;
}

const { isHome = true } = Astro.props;
---

<InfoContainer>
  <section class="relative flex flex-col items-center w-full">
    {!isHome &&
      <a href="/" aria-label="home" class="group absolute left-0 pointer p-[11px] bg-bg-tertiary rounded-2xl shadow-primary transition-colors hover:bg-bg-hover">
        <HomeIcon className="w-6 h-6 fill-text-secondary transition-colors group-hover:fill-text-hover" />
      </a>
    }
    <Image src="/logos/full-logo.svg" alt="Logo" width="184" height="46" loading="eager" class="hidden sm:block" />
    <Image src="/logos/logo.svg" alt="Logo" width="74" height="46" loading="eager" class="block sm:hidden" />
  </section>
</InfoContainer>