---
import GithubIcon from '@/components/icons/GithubIcon.astro';
import LinkIcon from '@/components/icons/LinkIcon.astro';
import InfoContainer from '@/components/ui/InfoContainer.astro';

interface Props {
  title: string;
  repository: string | null;
  website: string | null;
}

const { title, repository, website } = Astro.props;
---

<InfoContainer>
  <section class="flex flex-col sm:flex-row sm:items-center gap-4">
    <div class="w-full max-w-[350px]">
      <h3 class="w-full text-3xl font-medium sm:max-w-[150px]">Links de Interés</h3>
    </div>
    <div class="flex gap-4 sm:gap-6 h-fit flex-wrap sm:flex-nowrap">
      {repository !== null && 
        <a href={repository} aria-label={`${title} repository`} target="_blank" rel="noreferrer" class="group w-fit flex gap-2 pointer px-4 py-4 text-lg font-medium text-text-secondary bg-bg-tertiary rounded-2xl shadow-primary transition-colors hover:text-text-hover hover:bg-bg-hover">
          <GithubIcon className="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-text-hover" />
          Repositorio
        </a>
      }
      {website !== null &&
        <a href={website} aria-label={`${title} website`} target="_blank" rel="noreferrer" class="group w-fit flex gap-2 pointer px-4 py-4 text-lg font-medium text-text-secondary bg-bg-tertiary rounded-2xl shadow-primary transition-colors hover:text-text-hover hover:bg-bg-hover">
          <LinkIcon className="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-text-hover" />
          Website
        </a>
      }
    </div>
  </section>
</InfoContainer>