---
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Rafael Carvacho's portfolio website." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-roboto text-text-primary bg-bg-primary flex justify-center py-4 sm:py-6 md:py-8 lg:py-10">
		<Navbar />
		<slot />
	</body>
</html>
