---
---

<section id="github-calendar" class="mt-32 animate-pulse">
  <div>
    <div class='flex justify-center w-full h-fit'>
      <div class='overflow-x-auto p-2'>
        <div class='min-w-[900px] w-[900px] h-[146px] bg-bg-skeleton rounded-lg' />
      </div>
    </div>
  </div>
  <div class='flex justify-center mt-2'>
    <div class='flex gap-2 md:gap-3 justify-between w-full max-w-[902px]'>
      <span class='w-[266px] h-[24px] bg-bg-skeleton rounded-md' />
      <span class='w-[155px] h-[24px] bg-bg-skeleton rounded-md' />
    </div>
  </div>
</section>