---
interface Props {
  skeleton_items: number
}

const { skeleton_items } = Astro.props
---

<ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 mt-16 animate-pulse">
  {Array.from({ length: skeleton_items }, (_, i) => i).map((_) => (
    <li class="flex justify-center">
      <div class="w-full max-w-[400px]">
        <div class="w-full h-[270px] bg-bg-skeleton rounded-lg" />
        <div class="flex items-center gap-2 px-1 mt-3 min-h-[36px]">
          <div class="min-w-[36px] h-[36px] bg-bg-skeleton rounded-full"></div>
          <div class="w-full h-[32px] bg-bg-skeleton rounded-md"></div>
        </div>
      </div>
    </li>
  ))}
</ul>