---
const { title, style } = Astro.props;
---

<div class={style}>
  <h3 class="text-md text-text-ternary font-bold">{title}</h3>
  <div class="flex gap-2 items-center">
    <slot />
    <span class="w-full h-[28px] bg-bg-skeleton rounded-md animate-pulse" />
  </div>
</div>