---
import ForkIcon from '../icons/ForkIcon.astro'
import StarIcon from '../icons/StarIcon.astro'
import WatcherIcon from '../icons/WatcherIcon.astro'
import ProjectDetailSkeleton from './ProjectDetailSkeleton.astro'
---

<div class="flex gap-y-2 gap-x-6 justify-between flex-wrap sm:flex-nowrap w-full max-w-[700px]">
  <ProjectDetailSkeleton title='LICENCIA' style='min-w-[109px]' />
  <ProjectDetailSkeleton title="STARS">
    <StarIcon style="min-w-6 h-6 fill-text-primary" />
  </ProjectDetailSkeleton>
  <ProjectDetailSkeleton title="WATCHERS">
    <WatcherIcon style="min-w-6 h-6 fill-text-primary" />
  </ProjectDetailSkeleton>
  <ProjectDetailSkeleton title="FORKS">
    <ForkIcon style="min-w-6 h-6 fill-text-primary" />
  </ProjectDetailSkeleton>
</div>