---
interface Props {
  skeleton_items: number
}

const { skeleton_items } = Astro.props
---

<ul class="flex flex-wrap gap-3 mt-4 animate-pulse">
  {Array.from({ length: skeleton_items }, (_, i) => i).map((_) => (
    <li>
      <span class="block w-[85px] h-[24px] rounded-full bg-bg-skeleton" />
    </li>
  ))}
</ul>